<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Loki\AdminComponents\ProviderHandler\ProviderHandlerListing">
        <arguments>
            <argument name="providerHandlers" xsi:type="array">
                <item name="repository" xsi:type="object">Loki\AdminComponents\ProviderHandler\RepositoryHandler</item>
                <item name="collection" xsi:type="object">Loki\AdminComponents\ProviderHandler\CollectionHandler</item>
                <item name="array" xsi:type="object">Loki\AdminComponents\ProviderHandler\ArrayHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Loki\AdminComponents\Grid\Action\ActionListing">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="search" xsi:type="object">Loki\AdminComponents\Grid\Action\SearchAction</item>
                <item name="page" xsi:type="object">Loki\AdminComponents\Grid\Action\PageAction</item>
                <item name="limit" xsi:type="object">Loki\AdminComponents\Grid\Action\LimitAction</item>
                <item name="sort" xsi:type="object">Loki\AdminComponents\Grid\Action\SortAction</item>
                <item name="reposition" xsi:type="object">Loki\AdminComponents\Grid\Action\RepositionAction</item>
                <item name="inline_edit" xsi:type="object">Loki\AdminComponents\Grid\Action\InlineEditAction</item>
            </argument>
        </arguments>
    </type>

    <type name="Loki\AdminComponents\Form\Field\FieldTypeProvider">
        <arguments>
            <argument name="fieldTypes" xsi:type="array">
                <item name="view" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\View</item>
                <item name="input" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\Input</item>
                <item name="textarea" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\Textarea</item>
                <item name="date" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\Date</item>
                <item name="datetime" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\Datetime</item>
                <item name="number" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\Number</item>
                <item name="select" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\Select</item>
                <item name="switch" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\Switcher</item>
                <item name="from_to" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\FromTo</item>
                <item name="product_id" xsi:type="object">Loki\AdminComponents\Form\Field\FieldType\ProductId</item>
            </argument>
        </arguments>
    </type>

    <type name="Loki\AdminComponents\Form\Action\ActionListing">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="save" xsi:type="object">Loki\AdminComponents\Form\Action\SaveAction</item>
                <item name="delete" xsi:type="object">Loki\AdminComponents\Form\Action\DeleteAction</item>
                <item name="duplicate" xsi:type="object">Loki\AdminComponents\Form\Action\DuplicateAction</item>
            </argument>
        </arguments>
    </type>

    <type name="Loki\AdminComponents\Grid\Cell\CellTemplateResolver">
        <arguments>
            <argument name="cellTemplates" xsi:type="array">
                <item name="thumbnail" xsi:type="string">Loki_AdminComponents::grid/cell/product_image.phtml</item>
                <item name="price" xsi:type="string">Loki_AdminComponents::grid/cell/price.phtml</item>
                <item name="visibility" xsi:type="string">Loki_AdminComponents::grid/cell/visibility.phtml</item>
                <item name="status" xsi:type="string">Loki_AdminComponents::grid/cell/status.phtml</item>
                <item name="type_id" xsi:type="string">Loki_AdminComponents::grid/cell/product_type.phtml</item>
                <item name="attribute_set_id" xsi:type="string">Loki_AdminComponents::grid/cell/attribute_set_id.phtml</item>
                <item name="name" xsi:type="string">Loki_AdminComponents::grid/cell/inline_edit.phtml</item>
            </argument>
        </arguments>
    </type>

</config>
