<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Yireo\LokiAdminComponents\ProviderHandler\ProviderHandlerListing">
        <arguments>
            <argument name="providerHandlers" xsi:type="array">
                <item name="repository" xsi:type="object">Yireo\LokiAdminComponents\ProviderHandler\RepositoryHandler</item>
                <item name="collection" xsi:type="object">Yireo\LokiAdminComponents\ProviderHandler\CollectionHandler</item>
                <item name="array" xsi:type="object">Yireo\LokiAdminComponents\ProviderHandler\ArrayHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\LokiAdminComponents\Grid\Action\ActionListing">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="search" xsi:type="object">Yireo\LokiAdminComponents\Grid\Action\SearchAction</item>
                <item name="page" xsi:type="object">Yireo\LokiAdminComponents\Grid\Action\PageAction</item>
                <item name="limit" xsi:type="object">Yireo\LokiAdminComponents\Grid\Action\LimitAction</item>
                <item name="sort" xsi:type="object">Yireo\LokiAdminComponents\Grid\Action\SortAction</item>
                <item name="reposition" xsi:type="object">Yireo\LokiAdminComponents\Grid\Action\RepositionAction</item>
                <item name="inline_edit" xsi:type="object">Yireo\LokiAdminComponents\Grid\Action\InlineEditAction</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\LokiAdminComponents\Form\Field\FieldTypeProvider">
        <arguments>
            <argument name="fieldTypes" xsi:type="array">
                <item name="text" xsi:type="object">Yireo\LokiAdminComponents\Form\Field\FieldType\Text</item>
                <item name="select" xsi:type="object">Yireo\LokiAdminComponents\Form\Field\FieldType\Select</item>
                <item name="switch" xsi:type="object">Yireo\LokiAdminComponents\Form\Field\FieldType\Switcher</item>
                <item name="from_to" xsi:type="object">Yireo\LokiAdminComponents\Form\Field\FieldType\FromTo</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\LokiAdminComponents\Form\Action\ActionListing">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="save" xsi:type="object">Yireo\LokiAdminComponents\Form\Action\SaveAction</item>
                <item name="delete" xsi:type="object">Yireo\LokiAdminComponents\Form\Action\DeleteAction</item>
                <item name="duplicate" xsi:type="object">Yireo\LokiAdminComponents\Form\Action\DuplicateAction</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\LokiAdminComponents\Grid\Cell\CellTemplateResolver">
        <arguments>
            <argument name="cellTemplates" xsi:type="array">
                <item name="thumbnail" xsi:type="string">Yireo_LokiAdminComponents::grid/cell/product_image.phtml</item>
                <item name="price" xsi:type="string">Yireo_LokiAdminComponents::grid/cell/price.phtml</item>
                <item name="visibility" xsi:type="string">Yireo_LokiAdminComponents::grid/cell/visibility.phtml</item>
                <item name="status" xsi:type="string">Yireo_LokiAdminComponents::grid/cell/status.phtml</item>
                <item name="type_id" xsi:type="string">Yireo_LokiAdminComponents::grid/cell/product_type.phtml</item>
                <item name="attribute_set_id" xsi:type="string">Yireo_LokiAdminComponents::grid/cell/attribute_set_id.phtml</item>
                <item name="name" xsi:type="string">Yireo_LokiAdminComponents::grid/cell/inline_edit.phtml</item>
            </argument>
        </arguments>
    </type>

</config>
